-r requirements.txt
# metrics
types-requests<3,>=2.26
types-setuptools<81
types-pyyaml<7
# codestyle
black<26,>=24.3.0
pylint
mypy
# pip dependency should be moved to codecheck
pip
# developement/CI tools
pre-commit<5
# examples
ipython<9
notebook<8
pytest-notebook<1,>=0.10
