# This workflow will install Python dependencies, run tests and other codechecks on SPSDK project

name: Python Continous Integration

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  contents: read

jobs:
  codecheck:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        python-version: ["3.12"]

    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Set-up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5.6.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install SPSDK
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade .[all]

      - name: Install Development Dependencies
        run: |
          pip install -r requirements-develop.txt
 
      - name: Run black
        run: |
          black spsdk_refeyn --check
 
      - name: Run isort
        run: |
          isort spsdk_refeyn --settings-file pyproject.toml --check

      - name: Run pylint
        run: |
          pylint spsdk_refeyn -j 2

      - name: Run mypy
        run: |
          mypy spsdk_refeyn
